<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/contact.css">
    <title>RWB+1</title>

    <!-- this is the nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html"><img src="../public/assets/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="area.html">Areas</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
                </li>
        </ul>
        <span class="navbar-item">
            <a class="nav-link" href="#">Maybe a Login/Register</a>
    </span>
    </div>
    </nav>
    </head>
<body>

    <!-- this is the container that says "contact us" -->
    <div class="jumbotron jumbotron-fluid"> 
    <div class="contact">
        <h1 class="display-4">Contact Us</p></h1>


<!-- this is the form -->
<br>
<form id="contactForm">
<div class="container-fluid">
    <div class="form-group"></div>
    <form id ="contactForm">
    <label><br>Your Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
    
    <label for="email">Your Email</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="name@example.com">

    <label for="email_subject">Email Subject</label>
    <input type="text" class="form-control" name="subject" id="subject" placeholder="Email Subject">

    <label for="message">Your Message</label>
    <textarea class="form-control" name= "message" id="message" rows="3"></textarea>
<br>
     <button type="submit" class="btn btn-success btn-lg btn-block"><h2 onclick="this.innerHTML='Thank you!'">Submit</h2></button><br>

 <div class="alert"> </div>
</div> 
</div>
</div>   
</form> 

                        <p class="text-center">© 2018 Copyright</p>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="../main.js"></script>
                        
</body>
</html>