/* this is the first jumbotron with the slogan */ 
.jumbotron-fluid{
    background-color: #87B6A7;
    padding-top: 150px;
    padding-bottom: 150px;

}

/* This aligns that Twitter and Facebook share buttons */

.twitter-share-button[style] { 
    vertical-align: top !important; 
}

.fb-share-button[style] { 
    vertical-align: top !important; 
}

